<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296188222067-opufc1rb94bettomru89ba21u6e9h8n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296188222067-opufc1rb94bettomru89ba21u6e9h8n3</string>
	<key>API_KEY</key>
	<string>AIzaSyBMrG55nHcyS4_oVFI-KLKE6A3L5LEbRSw</string>
	<key>GCM_SENDER_ID</key>
	<string>296188222067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likeUrator.movieEnjoy</string>
	<key>PROJECT_ID</key>
	<string>enjoymovie-675f9</string>
	<key>STORAGE_BUCKET</key>
	<string>enjoymovie-675f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296188222067:ios:f8fa785b25ad49c8f3a806</string>
	<key>DATABASE_URL</key>
	<string>https://enjoymovie-675f9.firebaseio.com</string>
</dict>
</plist>